*,html{
    padding: 0px;
    margin: 0px
}
body{
    background-color:#ecec88;
}
nav{
    display: flex;
    margin: 10px;
    width: 98.5%;
    height: 70px;
    background-color: #8B4513;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 8px;
    position: fixed;
    z-index: 1000;
    top: 0;
}

#brand{
    font-family: "Playwrite GB S", cursive;
    margin-left: 80px;
    text-decoration: none;
    color: white;
    font-size: larger;
    font-size: larger;
    font-size: 30px;
}
nav ul{
    display: flex;
    list-style: none ;
    margin-right: 80px;
}

nav ul li a{
    font-size: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: rgb(244, 244, 244);
    font-family:"Poppins", sans-serif;
    font-weight: 500;
    transition:0.6s ease;
    animation: muncul 1s ease-in-out;
}
@keyframes muncul{
    from{
        opacity: 0;
        transform: rotateY(100px);
    }
    to{
        opacity: 1;
        transform: rotateY(0);
    }
}
nav ul li a:hover{
    color: #FFD700;
    font-size: 20px;
    transition:0.5s ease;
}

/* hero */

.hero{
    margin-top: 150px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

.cover{
    border-radius:15px ;
    width: 1000px;
    height: 500px;
    background-color:white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;


}
.card{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 95%;
    height: 95%;
    background-color:white;
    overflow-y: scroll;
    gap: 6px;
    /* transition: all 10s ease-in-out; */

}
.card::-webkit-scrollbar{
    display: none;
}
.card img{
    display: block;
    border-radius: 15px;
    width: 80%;
    height: 80%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
.card img:hover{
    width: 83%;
    height: 83%;
}
/* konten */

.konten{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #efc94e;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#judul{
    color: white;
    font-family:"Poppins", sans-serif;
    font-weight: 600;
    font-size: 41px;
}

.gambar{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    /* background-color: #f5f5f5; */
    grid-template-columns: repeat(4, 1fr);
    margin: 100px;
    gap: 50px;
    transition: all 0.3s ease-in-out;
}
.gambar img{
    border:2px solid #D3D3D3 ;
    border-radius: 6px;
    width: 300px;;
    height: 200px;
    object-fit: cover;
    /* filter: blur(1px); */

}

/* konten2 */

.konten2{
    margin: 0;
    padding: 0;
    /* background-color:#b17d81; */
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#judul2{
    color: rgb(255, 183, 0);
    font-family:"Poppins", sans-serif;
    font-weight: 600;
    font-size: 41px;
}
.gambar img{
    transition:1s ease;
}
.gambar img:hover{
    transform: scale(1.1);
    filter:brightness(1.2);
    transition: 1s ease;
    transition: filter 1s ease;

}
/* artikel */

article{
    width: 100%;
    height: auto;
    padding-bottom:100px ;
    background-color: #ffd884;
}

.artikel-container {
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    padding-top: 5%;
}

.artikel-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; 
    transition: transform 0.3s; 
}

.artikel-card:hover {
    transform: scale(1.05);
}

.artikel-title {
    font-size: 18px;
    margin: 0 0 10px;
    color: #333;
}

.artikel-title a {
    text-decoration: none;
    color: #d95c6a; 
}

.artikel-description {
    color: #666;
    font-size: 14px;
}   

.nklm{
    background-color: #e6d734;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cardk{
    text-align: center;
    border-radius: 10px;
    width: 300px;
    background-color: #ffe592;
    height: 400px;
    margin: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: all 2s ease-in-out;

}
.cardk:hover{
    transition: all 0.3
    s ease-in-out;
    animation: putar 2s infinite linear;
    border-radius: 50px/50px;
    border: 3px solid rgb(146, 146, 146);
}
.cardk p{
    color: rgb(185, 110, 18);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.cardk img{
    border-radius: 50%;
}

.cardk img:hover{
    animation: putar 1ms infinite linear;
}

@keyframes putar{
    0%{
        transform: rotate(0deg);
    } 

    100%{
        transform: rotate(360deg);
    }
}
.cardk div{
    margin: 20px;
    text-align: justify;
}

/* ponsel */
@media (max-width: 768px) {
    #brand{
        font-size:13px;
        margin-left: 10px;
        
    }
    .nav ul{
        display: none;
    }
    .burger{
        display: none;
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 78%;
    }
    .hero{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        /* background-color: #efbb00; */
        justify-content: center;
        width: 100%;
    }
    .cover{
        margin-top: 3px;
        background-color: #ffe364;
        width: 300px;
        height: 300px;
    }
    .cover .card{
        border-radius:15px ;
    }
    .konten{
        width: 100%;
    }
    .konten img{
        width: 50%;
        height:auto;
    }
    .konten2{
        /* width: 100%; */
        display: none;
    }
    .nklm{
        width: 100%;
        display: block;
        background-color:#ecec88;
    }
    .cardk{
        margin: auto;
        border: 1px solid rgb(125, 125, 125);
        margin-top: 20px;
    }

    
}